.projects{
    background-color: transparent;
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    color:black;
}

.images{
    background-color: transparent;
    width: 20%;
    height: 30%;
    font-size: medium;
}