.about{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.picture{
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
}

.content{
    width: 40%;
    margin-top:5%;
    padding-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: xx-large;
}